<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get station Data </title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Get Station Data</h1>
    <form action="/station">
        <label for="station">Choose a station:</label>
        <select name="station" id="station">
            <option value="" disabled selected>Choose</option>
            <option value="station_1">Station 1</option>
            <option value="station_2">Station 2</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
