<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Not Found</h1>
    <h2>Try Again?</h2>
    <form action="/station">
        <label for="station"></label><input type="text" name="station" id="station" placeholder="Enter a URI" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>