<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5" />
    <title>{{ station_name }} Status </title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>{{ station_name }} Status </h1>
    <p>Temperature is {{ temperature }} &deg;</p>
    <p>Humidity is {{ humidity }} &percnt;</p>
    <p>Device status is:  </p>
    <p><small>Cooler: {{ cooler }}</small></p>
    <p><small>Heater: {{ heater }}</small></p>
    <p><small>Dehumidifier: {{ dehumidifier }}</small></p>
    <p><small>Light: {{ light }}</small></p>

    <form action="/station">
        <label for="station">Choose a station:</label>
        <select name="station" id="station">
            <option value="" disabled selected>Choose</option>
            <option value="station_1">Station 1</option>
            <option value="station_2">Station 2</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>