* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    background: url('image_1.jpeg') center/cover fixed no-repeat;
    backdrop-filter: blur(10px);
}

select, button {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
}

select {
    width: 50%;
    max-width: 300px;
}
